.timer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    cd-timer {
        font-size: 100px;
    }

    .bar {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.spinner {
    display: flex;
    justify-content: center;

    img {
        width: 75px;
    }
}

.hidden {
    height: 0;
    visibility: hidden;
}

div:hover {
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
}
